@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  }
  body {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    font-size: 14px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background: none;
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
  }
  a {
      color: #606266;
  }
  a:hover {
      color: #409EFF;
  }
.bg-secondary {
    background-color: #fff;
}
.el-input, .el-checkbox {
    margin-top: 20px;
}
.login-page {
    height: 100vh;
    width: 100%;
}
.header {
    position: relative;
}
.card-header .title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 24px;
    color: #172b4d;
}
.card-header {
    border: none;
}
.card-header p {
    color: darkgrey;
}
.login-form {
    padding: 15px 15px 0;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.login-form .input-block {
    position: relative;
    display: flex;
    align-items: center;
}
.login-form .input-block i {
    position: absolute;
    color: #409EFF;
    left: 16px;
    /* top: 36px; */
    z-index: 1;
}
.login-form .card-body {
    padding-top: 2rem !important;
}
.login-wrapper {
    max-width: 530px;
    width: 100%;
}
.logo {
    max-width: 200px;
    height: auto;
}
.login-page .el-input__inner {
    border: 1px solid #e9ebf0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding-left: 40px;
}
.login-page .el-button {
    width: 100%;
    padding: 12px 20px;
    height: 50px;
}
.header.bg-gradient-success {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    padding: 4rem 0 15rem;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.mt--12, .my--12 {
    margin-top: -15rem!important;
}
.bg-default {
    background-color: #123A73;
    /* background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); */
}

.separator-skew {
    height: 60px;
}
.separator-bottom {
    top: auto;
    bottom: 0;
}
.separator, .separator svg {
    position: absolute;
    pointer-events: none;
}
.separator {
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
}
@media (min-width: 1200px) {
    .separator-skew {
        height: 70px;
    }

}
.separator-bottom svg {
    bottom: 0;
}

.separator, .separator svg {
    position: absolute;
    pointer-events: none;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}
.login-page .fill-default {
    fill: #123A73;
}
.content {
    width: 100%;
    background-color: #F4F6FA;
}
.nav-control {
    text-align: center;
    z-index: 9999;
    font-size: 1.4rem;
    padding: 2px 0.5rem 0;
    border-radius: 2px;
    margin-top: -4px;
}
.hamburger .line {
    background: #224D84;
    display: block;
    height: 3px;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav-header .hamburger .line {
    background: #FE634E !important;
}
.hamburger .line:nth-child(1) {
    width: 20px;
}
.hamburger .line:nth-child(2) {
    width: 26px;
}
.hamburger .line:nth-child(3) {
    width: 22px;
}
.header-nav {
    z-index: 1;
    padding: 15px 15px 15px 28px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
}
.header-nav .logo {
    margin-left: 60px;
    margin-top: -2px;
    height: 26px;
    width: auto;
}
.title {
    line-height:1.5;
    font-family: 'Montserrat-Bold', sans-serif;
}
.nav-control .title {
    margin-left: 20px;
}
.el-avatar {
    display: flex;
    align-items: center;
}
.header i {
    color: #224D84;
margin: 0 10px;
font-size: 1.8em;
vertical-align: middle;
}
.header-nav .sign_out {
    padding: 0 !important;
    font-size: 30px;
    color: #909399;
}
.f-bold {
    font-family: 'Montserrat-Bold', sans-serif;
}
.mx-left-auto {
    margin-left: auto;
}
.login-info span:first-child {
    font-size: 15px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.login-info span:last-child {
    color: #909399;
    font-size: 13px;
}
.left-navbar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #123a73fc;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.main {
    padding-top: 70px;
    padding-left: 70px;
    position: relative;
    width: 100%;
    padding-bottom: 35px;
}
.main {
    min-height: 100vh;
}
.left-navbar i {
    font-size: 30px;
    color: #fff;
}
.left-navbar .list-group-item {
    padding: 0;
    border: none;
    background-color: transparent;
}
.left-navbar .list-group-item a {
    padding: 1.22rem 1.25rem;
    display: block;
}
.left-navbar .list-group-item a.active-link {
    background-color: #fff;

}
.left-navbar .list-group-item a.active-link i {
    color: #123A73;
}
.navbar-shields {
    min-width: 320px;
    position: fixed;
    top: 70px;
    padding-bottom: 0;
    bottom: 0;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    overflow:scroll;
    mask-image: linear-gradient(to top, transparent, #fff),
    linear-gradient(to left, transparent 0.3em, #fff 0.3em);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, #fff),
    linear-gradient(to left, transparent 0.3em, #fff 0.3em);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.navbar-shields:hover {
    -webkit-mask-position: left top;
  }
.navbar-shields .list-group-item {
    border: none;
    padding: 1.4rem 0;
}
.navbar-shields .list-group-item a:hover {
    text-decoration: none;
}
.shield-wrapper {
    margin-left: 350px;
    margin-top: 30px;
    width: 100%;
    padding-right: 20px;
}
.navbar-shields .list-group-item a.active-link {
    color: #409EFF;
    border-right: solid 2px #409EFF;
}

.navbar-shields .list-group-item a {
    display: block;
    padding: 0 2em;
}

.navbar-shields::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 1em;
}

.navbar-shields::-webkit-scrollbar-track {
    background: rgb(238, 238, 238);
}

.navbar-shields::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.3);
}shield-header
.navbar-shields ul {
    width: calc(320px - 0.3em);
}
.shield-list {
    position: relative;
}
.shield-list li > span {
    display: block;
    color: #909399;
    margin-top: 5px;
    padding-left: 2rem;
    font-size: 13px;
}
.dashboard {
    padding: 35px;
}
.main h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}
.status-block {
    padding: 25px 25px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.dashboard .status-block  {
    width: 200px;
}
.shield-wrapper .status-block  {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.shield-wrapper .address-block {
    width: auto;
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 0;
}
.shield-wrapper .address-block .img img {
    max-height: 22px;
    width: auto;
    margin-right: 6px;
}
.shield-wrapper .enum-number {
    margin-top: 40px;
    text-transform: uppercase;

    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-wrapper .status-detail {
    text-align: right;
}
.shield-wrapper .status-detail > span {
    font-size: 32px;
    line-height: 32px;
}
.shield-wrapper .shield-table__wrapper {
    background-color: #fff;
    padding: 5px 20px 20px;
    max-width: 1080px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    border-radius: 5px;
}
.shield-wrapper .shield-table__wrapper .shield-item__table {
    margin: 0;
}
.status-block .status-img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-block.online .status-img {
    background-color: #50C878;
}
.status-block.offline .status-img {
    background-color: #F56C6C;
}
.status-block .status-img img {
    max-width: 22px;
    height: auto;
    z-index: 1;
    position: relative;
}
.status-block .status-img > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
}
.status-detail {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.status-detail > span {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 2px;
    display: block;
    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-item > div {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    border-radius: 5px;
}
.shield-item__wrapper .nav-item {
    font-size: 20px;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-bottom: 0;
    padding-right: 10px;
    line-height: 1.4;
    color: #212529;
    font-weight: normal;
}
.shield-item__wrapper .nav-item:hover {
    text-decoration: none;
}
.shield-item__wrapper {
    display: flex;
    flex-direction: column;
}
.shield-item__title {
    display: flex;
    align-items: center;
    width: 100%;
}
.shield-item__status {
    margin-left: 10px;
}
.shield-item__status > .online {
    color: #50C878;
    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-item__status > .offline {
    color: #F56C6C;
    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-item__image-signal {
    max-width: 20px;
    height: auto;
    margin-left: auto;
    cursor: pointer;
}
.shield-item__detail {
    margin-top: 10px;
}
.shield-item__detail > span {
    color: #909399;
}
.shield-item__table {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
}
.shield-item__table .table-header {
    display: flex;
    width: 100%;
}
.shield-item__table .table-body {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.shield-item__table .table-header > div:first-child {
    padding: 10px 15px;
    border-left: none;
    flex-basis: 10%;
}
.shield-item__table .table-header > div {
    text-align: center;
    padding: 15px 10px;
    flex-basis: 22.5%;
    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-item__table .table-body > div {
    display: flex;
}
.shield-item__table .table-body > div > div {
    padding: 15px 10px;
    width: 100%;
    text-align: center;
    flex-basis: 22.5%;
    color: #74777c;
}
.shield-item__table .table-body > div > div:first-child {
    flex-basis: 10%;
    font-family: 'Montserrat-Bold', sans-serif;
    color: inherit;
}
.shield-item__table .table-body > div:last-child > div {
    border-bottom: none;
    background-color: #f5f6f8;
}
.shield-item__table .table-body > div:first-child > div {
    background-color: #f5f6f8;
}
.shield-item__detail .kvt1 {
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
    background-color: rgb(245, 108, 108);
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 0px 12px 23px 0px rgb(245 108 108 / 12%);
}
.shield-item__detail .kvt {
    background-color: #50C878;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.shield-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}
.shield-header h1 {
    margin-bottom: 0;
}
.shield-header .shield-item__status {
    margin-right: 20px;
}
.update-header {
    color: #909399;
    display: flex;
    align-items: center;
}
.refresh-button {
    margin-right: 10px;
    margin-left: 10px;
}
.refresh-button:hover {
    text-decoration: none;
}
.refresh-button:hover i{
    color: #409EFF;
}
.refresh-button i {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #909399;
    margin-top: -2px;
}
.control-panel {
    display: flex;
    align-items: center;
}
.shield-wrapper .el-slider__runway.disabled .el-slider__button:hover, .shield-wrapper .el-slider__runway.disabled .el-slider__button-wrapper:hover {
    cursor: auto;
}
.shield-wrapper .el-slider__runway.disabled .el-slider__bar {
    background-color: #50C878;
}
.shield-wrapper .el-slider__runway.disabled .el-slider__button {
    border-color: #50C878;
}
.shield-wrapper .el-slider__button {
    width: 18px;
    height: 18px;
}
.schedule-block {
    margin-top: 50px;
    max-width: 1080px;
}
.schedule-block h3 {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-bottom: 15px;
 }
 .schedule-block > div {
     margin-left: 10px;
 }
 .shield-wrapper .el-slider__marks-text {
     font-size: 13px;
 }
 .shield-wrapper .el-slider__marks-text {
    color: #74777c;
 }
 @media screen and (max-width: 1508px) {
    .shield-item > div {
        padding: 20px;
    }
    .shield-item__table .table-body > div > div {
        padding: 10px 5px;
    }
    .shield-item__table .table-header > div {
        padding: 10px 5px;
    }
}